<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Liste des Pilotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="drivers-content">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterDrivers()"
    placeholder="Rechercher un pilote..."
    class="custom-searchbar"
  ></ion-searchbar>

  <ion-list>
    <ion-item
      *ngFor="let driver of filteredDrivers"
      class="driver-item"
      (click)="showDriverOptions(driver)"
    >
      <ion-icon
        *ngIf="driver.isFavorite"
        slot="start"
        name="heart"
        color="danger"
        (click)="toggleFavorite(driver)"
      ></ion-icon>
      <ion-icon
        *ngIf="!driver.isFavorite"
        slot="start"
        name="heart-outline"
        (click)="toggleFavorite(driver)"
      ></ion-icon>
      <ion-label>
        <h2 class="item-title">
          {{ driver.givenName }} {{ driver.familyName }}
        </h2>
        <ion-note class="item-note"
          >Nationalité: {{ driver.nationality }}</ion-note
        >
        <ion-note class="item-note"
          >Date de naissance: {{ driver.dateOfBirth }}</ion-note
        >
        <ion-note class="item-note"
          >Numéro: {{ driver.permanentNumber }}</ion-note
        >
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addDriver()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
