<ion-header>
  <ion-toolbar>
    <ion-title>Liste des Pilotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterDrivers()"
    placeholder="Rechercher un pilote..."
  ></ion-searchbar>

  <ion-list>
    <ion-item
      *ngFor="let driver of filteredDrivers"
      (click)="showDriverOptions(driver)"
    >
      <ion-icon
        *ngIf="driver.isFavorite"
        slot="start"
        name="heart"
        color="danger"
        (click)="toggleFavorite(driver)"
      ></ion-icon>
      <ion-icon
        *ngIf="!driver.isFavorite"
        slot="start"
        name="heart-outline"
        (click)="toggleFavorite(driver)"
      ></ion-icon>
      <ion-label>
        <h2>{{ driver.givenName }} {{ driver.familyName }}</h2>
        <p>Nationalité: {{ driver.nationality }}</p>
        <p>Date de naissance: {{ driver.dateOfBirth }}</p>
        <p>Numéro: {{ driver.permanentNumber }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addDriver()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
