<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="favorites-content">
  <ion-list>
    <ion-list-header class="list-header">Courses Favorites</ion-list-header>
    <ion-item *ngFor="let race of races" class="favorite-item">
      <ion-label>
        <h2 class="item-title">{{ race.raceName }}</h2>
        <ion-note class="item-note"
          >Pays: {{ race.Circuit.Location.country }}</ion-note
        >
        <ion-note class="item-note"
          >Longueur: {{ race.Circuit.Location.long }} Km</ion-note
        >
      </ion-label>
    </ion-item>

    <ion-list-header class="list-header">Pilotes Favoris</ion-list-header>
    <ion-item *ngFor="let driver of drivers" class="favorite-item">
      <ion-label>
        <h2 class="item-title">
          {{ driver.givenName }} {{ driver.familyName }}
        </h2>
        <ion-note class="item-note"
          >Nationalité: {{ driver.nationality }}</ion-note
        >
        <ion-note class="item-note"
          >Date de naissance: {{ driver.dateOfBirth }}</ion-note
        >
        <ion-note class="item-note"
          >Numéro: {{ driver.permanentNumber }}</ion-note
        >
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="downloadFavorite()">
      <ion-icon name="download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
